<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>dashboard</title>
      <link rel="stylesheet" href="../src/css/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Spray+Paint&display=swap"
         rel="stylesheet"
      />

      <script src="https://cdn.tailwindcss.com"></script>
   </head>
   <body class="font-[Poppins]">
      <nav
         class="bg-gray-900 text-white flex justify-between items-center px-5 rounded-bottom-md h-[50px] rounded-b-2xl"
      >
         <div class="flex gap-2 items-center">
            <img src="../src/img/tiktokshop.png" alt="" width="25px" />
            <p class="text-xl font-bold">TikTok Shop | TokoPedia</p>
         </div>
         <svg
            class="w-8 h-8 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="white"
            viewBox="0 0 24 24"
         >
            <path
               d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"
            />
         </svg>
      </nav>
      <section class="max-w-[30rem] p-5 mx-auto">
         <div
            class="rounded-xl w-100 p-2 shadow-xl mx-auto bg-gray-900 text-white mb-4"
         >
            <div
               class="w-[20rem] flex justify-center items-center pb-2 border-b-2 gap-2 mx-auto"
            >
               <img src="../src/img/tiktokshop.png" alt="" width="30px" />
               <h1 class="text-[2.5rem] tracking-wide">Shop</h1>
            </div>
            <img
               src="../src/img/tokped-white.png"
               alt=""
               width="250px"
               class="mx-auto"
            />
         </div>
         <div class="flex col-2 gap-[3rem] justify-between">
            <div
               class="rounded-xl w-full py-20 text-white text-center bg-gray-900"
            >
               <h3 class="text-2xl mb-2 tracking-wide">Classic</h3>
               <p class="my-2 text-xl">tugas selesai</p>

               <span class="text-2xl font-semibold">4</span>
            </div>
            <div
               class="rounded-xl w-full py-20 text-center bg-[#fff] shadow-2xl"
            >
               <p class="my-2">Jumlah Total Tugas</p>
               <p class="text-2xl font-semibold">15</p>
            </div>
         </div>

         <div
            class="rounded-xl w-100 px-5 py-8 shadow-xl mx-auto mb-4 shadow-xl"
         >
            <div class="flex justify-between items-center">
               <h3 class="text-md mb-2 font-semibold">Komisi</h3>
               <span class="text-md text-green-500">Rp.13.000</span>
            </div>
            <p>Komisi 20% Setiap Selesaikan 1 Tugas Pesanan</p>

            <div class="flex justify-between items-center mt-5">
               <h3 class="text-md mb-2 font-semibold">Saldo Rekening</h3>
               <span class="text-md text-green-500">Rp.47.000</span>
            </div>
            <p>Saldo Akan Bertambah Setelah Selesaikan Tugas Pesanan</p>
         </div>

         <button
            class="w-full bg-gray-900 rounded-full text-xl text-white px-8 py-2 hover:bg-gray-700"
         >
            Ambil Pesanan
         </button>
      </section>

      <footer
         class="fixed bottom-0 left-1/2 transform -translate-x-1/2 w-100 mx-auto"
      >
         <div
            class="w-[40rem] bg-gray-900 text-white flex flex-auto justify-around px-5 py-4 items-center rounded-xl"
         >
            <a
               href="../main/index.html"
               class="text-md rounded-l-xl hover:text-gray-400"
               >Home</a
            >
            <a
               href="./task-page.html"
               class="text-md rounded-l-xl hover:text-gray-400"
               >Tugas</a
            >
            <a
               href="#"
               class="font-bold text-xl rounded-l-xl hover:text-gray-400"
               >Dashboard</a
            >
            <a
               href="./help-page.html"
               class="text-md rounded-l-xl hover:text-gray-400"
               >Bantuan</a
            >
            <a
               href="./profil.html"
               class="text-md rounded-l-xl hover:text-gray-400"
               >Profil</a
            >
         </div>
      </footer>
   </body>
</html>
