<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Task</title>
      <link rel="stylesheet" href="style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Spray+Paint&display=swap"
         rel="stylesheet"
      />

      <script src="https://cdn.tailwindcss.com"></script>
   </head>
   </head>
   <body class="font-[Poppins]">
      <nav
      class="bg-gray-900 text-white flex justify-between items-center px-5 rounded-bottom-md h-[50px] rounded-b-2xl"
   >
      <div class="flex gap-2 items-center">
         <img src="./img/tiktokshop.png" alt="" width="25px" />
         <p class="text-xl font-bold">TikTok Shop | TokoPedia</p>
      </div>
      <svg
         class="w-8 h-8 text-gray-800 dark:text-white"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="28"
         height="28"
         fill="white"
         viewBox="0 0 24 24"
      >
         <path
            d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"
         />
      </svg>
   </nav>

      <section class="max-w-xl p-8 mx-auto h-screen">
         <div class="rounded-md w-[25rem] p-8 shadow-md mx-auto">
            <p class="text-xl mb-2 tracking-wide">Iqbal Shop<span> > </span></p>
            <div class="flex gap-4 items-center mb-2">
               <img src="../src/img/pngegg.png" alt="wallet" width="30px" />
               <div class="">
                  <p class="text-sm text-gray-800">cheongsam batik wanita jumbo bigsize standart </p>
                  <h2 class="text-xs text-gray-400 tracking-wider">variant : <span>Merah ,M</span></h2>
               </div>
            </div>
            <div class="flex gap-3 justify-between items-center text-white">
               <h1
                  class="font-bold text-md text-gray-800"
               >Rp.155.000;</h1>
               <button
                  class="flex gap-2 items-center hover:bg-gray-700 rounded-md px-4 py-2 bg-gray-900"
               >
                  Checkout
               </button>
            </div>
         </div>
      </section>

      <footer class="fixed bottom-0 left-1/2 transform -translate-x-1/2 w-100 mx-auto">
         <div
            class="w-[40rem] bg-gray-900 text-white flex flex-auto justify-around px-5 py-4 items-center rounded-xl"
         >
            <a
               href="../index.html"
               class="text-md rounded-l-xl hover:text-gray-400"
               >Home</a
            >
            <a
               href="#"
               class="text-xl rounded-l-xl hover:text-gray-400 font-bold"
               >Tugas</a
            >
            <a href="./dashboard.html" class="text-md rounded-l-xl hover:text-gray-400"
               >Dashboard</a
            >
            <a
               href="./help-page.html"
               class="text-md  rounded-l-xl hover:text-gray-400"
               >Bantuan</a
            >
            <a
               href="./profil.html"
               class="text-md rounded-l-xl hover:text-gray-400"
               >Profil</a
            >
         </div>
      </footer>
   </body>
</html>
